name: CI Test Script

on:
  pull_request:
    branches:
      - main

jobs:
  code-test:
    name: 코드 테스트
    runs-on: ubuntu-latest

    steps:
      - name: 브랜치로 체크아웃
        uses: actions/checkout@v5

      - name: JDK 세팅
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: demo-service gradlew 권한 세팅
        run: chmod +x ./gradlew

      - name: demo-service gradlew 권한 세팅
        run: chmod +x ./account-service/gradlew

      - name: demo-service 테스트 실행
        run: ./gradlew test --no-daemon

      - name: account-service 테스트 실행
        working-directory: ./account-service
        run: ./gradlew test --no-daemon
